.errorText{
    color: red;
    font-weight: bold;
}
.successText{
    color: limegreen;
    font-weight: bold;
}
.warningText{
    color: orange;
    font-weight: bold;
}
.footerBackground{
    background-color: rgba(240,240,240,.9);
}
.marginBottom10{
    margin-bottom: 10%;
}
