<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Pokemon</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/stylesheet.css"  th:href="@{/css/stylesheet.css}">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="container">
    <h1>Add Pokemon:</h1>
    <div class="float-right badge badge-danger mt-1" th:if="${connectionTestResponse} != 'Welcome!'">
        Could not connect to Pokemon Server...
    </div>
    <form class="form-inline d-flex justify-content-center" action="#" th:action="@{/pokemons/add}" th:object="${pokemon}" method="post">
        <table class="col-10">
            <tr>
                <td class="d-flex justify-content-start">
                    <label class="my-2">
                        <input placeholder="Dex no" class="form-control" type="number" th:field="*{dexNo}" id="pokemonDexNo" required>
                    </label>
                </td>
                <td class="errorText" th:if="${#fields.hasErrors('dexNo')}" th:errors="*{dexNo}">
                    Dex Error
                </td>
            </tr>
            <tr>
                <td>
                    <label class="my-2">
                        <input placeholder="Pokemon Name" class="form-control w-100" th:field="*{name}" id="pokemonName">
                    </label>
                </td>
                <td class="errorText"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    Name Error
                </td>
            </tr>
            <tr>
                <td>
                    <label class="my-2">
                        <input placeholder="Description" class="form-control w-100" th:field="*{description}" id="pokemonDescription">
                    </label>
                </td>
                <td class="errorText" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                    Description Error
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-success my-2" type="submit"><i class="fas fa-plus-circle"></i>&numsp;Add Pokemon</button>
                </td>
                <td>
                    <button class="btn btn-outline-danger my-2" type="button" onclick="resetButton()"><i class="fas fa-undo"></i>&numsp;Reset</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="fragments :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/font-awesome.min.js" th:src="@{/js/font-awesome.min.js}"></script>
<script>
    $(document).ready(
        $("#pokemonDexNo").val("")
    );

    function resetButton() {
        $("#pokemonDexNo").val("");
        $("#pokemonName").val("");
        $("#pokemonDescription").val("");
    }
</script>
</body>
</html>
