<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add pokemon result</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/stylesheet.css"  th:href="@{/css/stylesheet.css}">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="container">
    <h1>Result:</h1>
    <p th:text="'Pokedex No: ' + ${pokemon.dexNo}"></p>
    <p th:text="'Pokemon Name: ' + ${pokemon.name}"></p>
    <p th:text="'Pokemon Description: ' + ${pokemon.description}"></p>
    <div th:if="${httpStatus} == '200 OK' and ${status} == 'success'"><div th:text="${response}" class="successText"></div></div>
    <div th:if="${httpStatus} == '200 OK' and ${status} == 'warning'"><div th:text="${response}" class="warningText"></div></div>
    <div th:if="${httpStatus} != '200 OK'">Operation Failed!<span th:text="${response}" class="errorText"></span></div>
    <button class="btn btn-success" onclick="navigateToAddPokemon()">Add another Pokémon!</button>
</div>
<div th:replace="fragments :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script>
    function navigateToAddPokemon() {
        window.location.href = "/pokemons/add";
    }
</script>
</body>
</html>
