<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Fragments</title>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm p-3 mb-5 bg-white rounded">
        <img src="../static/img/pokeball.png" th:src="@{/img/pokeball.png}" class="d-inline-block align-content-center rounded-circle mr-1" alt="logo" th:height="40" th:width="60">
        <a class="navbar-brand" href="/">
            Prof. Juniper's Pokemon Quest
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pokemons">Pokemons</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Add/Update/Delete
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/pokemons/add">Add Pokemon</a>
                        <a class="dropdown-item" href="/pokemons/update">Update Pokemon</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/pokemons/delete">Delete Pokemon</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="footer">
    <footer class="card-footer mt-3">
        <div class="container">
            &copy; 2019 Footer
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fab fa-facebook fa-lg"></i></a></li>
                <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-twitter fa-lg"></i></a></li>
                <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-github fa-lg"></i></a></li>
                <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-instagram fa-lg"></i></a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
