<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokemons</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <style>
        ul {
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
        }
    </style>
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="container">
    <div class="row my-3">
        <div class="col-4">
            <h3>Existing Pokemons:</h3>
        </div>
        <div class="col-6">
            <ul class="mx-auto">
                <li class="mr-3" th:each="pokemon : ${pokemons}" th:text="${pokemon}"></li>
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
    <button class="btn btn-success" onclick="navigateToAddPokemon()">Add New Pokemon</button>
    <button class="btn btn-warning text-white" onclick="navigateToUpdatePokemon()">Update Pokemon</button>
    <button class="btn btn-danger" onclick="navigateToDeletePokemon()">Delete Pokemon</button>
</div>
<div th:replace="fragments :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script>
    function navigateToAddPokemon() {
        window.location.href = "/pokemons/add";
    }

    function navigateToUpdatePokemon() {
        window.location.href = "/pokemons/update";
    }

    function navigateToDeletePokemon() {
        window.location.href = "/pokemons/delete";
    }
</script>
</body>
</html>
