<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Springboot-Thymeleaf</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1 th:text="${message}"></h1>
    <ul>
        <li th:each="task : ${tasks}" th:text="${task}"></li>
    </ul>
    <button class="btn btn-success" onclick="navigateToAddPokemon()">Add New Pokemon</button>
    <button class="btn btn-warning text-white" onclick="navigateToUpdatePokemon()">Update Pokemon</button>
    <button class="btn btn-danger" onclick="navigateToDeletePokemon()">Delete Pokemon</button>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script>
    function navigateToAddPokemon() {
        window.location.href = "/pokemons/add";
    }

    function navigateToUpdatePokemon() {
        window.location.href = "/pokemons/update";
    }

    function navigateToDeletePokemon() {
        window.location.href = "/pokemons/delete";
    }
</script>
</body>
</html>
