<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Springboot-Thymeleaf</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1 class="text-center" th:text="${message}"></h1>
        <img src="../static/img/welcome-to-the-world-of-pokemon.gif" alt="Welcome to the world of Pokemon!" class="img-fluid mx-auto d-block" th:src="@{/img/welcome-to-the-world-of-pokemon.gif}">
        <h3 class="text-center my-3">Help professor Juniper complete the Pokedex!</h3>
        <div class="justify-content-center d-flex">
            <button class="btn btn-primary" onclick="navigateToPokemons()">Let's Go!</button>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div th:replace="fragments :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/font-awesome.min.js" th:src="@{/js/font-awesome.min.js}"></script>
<script>
    function navigateToPokemons() {
        window.location.href = "/pokemons";
    }
</script>
</body>
</html>
